<div class="main-container" id="nav" *ngIf="this.token != null">
    <div class="row">
        <div class="col" id="home" [routerLink]="['/home-client']">
            <span class="material-symbols-outlined" id="homes">home</span>
        </div>
        <div class="col" [routerLink]="['/home-client']">
            <span class="material-symbols-outlined">group</span>
        </div>
        <div class="col">
            <span class="material-symbols-outlined">sms</span>
        </div>
        <div class="col">
            <span class="material-symbols-outlined">monitoring</span>
        </div>
        <div class="col">
            <span class="material-symbols-outlined">account_circle</span>
        </div>
    </div>
</div>