<div class="main-container">
    <div class="row">
        <div class="col-12">
            <div style="text-align: center; padding-top: 1em;">
                <span class="material-symbols-outlined" style="font-size: 40px;color: darkgray; position: fixed; left: 38px; top: 45px;">
                    chevron_left
                </span>
                <h1 style="color: #232a68;">Nuevo entreno</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-12">
        <div style="text-align: center;">
            <h2 style="color: #232a68;">{{this.nick}}</h2>
        </div>
    </div>
    <hr style="width: 300px;">
</div>