<div class="main-container">
    <div class="row">
        <div class="col-12">
            <div style="text-align: center; padding-top: 1em;">
                <span (click)="atras()" class="material-symbols-outlined" style="font-size: 40px;color: darkgray; position: fixed; left: 38px; top: 45px;">
                    chevron_left
                </span>
                <h1 style="color: #232a68;">Nuevo entreno</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-12">
        <div style="text-align: center;">
            <h2 style="color: #232a68;">{{this.nick}}</h2>
        </div>
    </div>
    <hr style="width: 300px;">
    <form class="form" id="registrarEntreno" [formGroup]="entrenoForm">
        <div class="row">
            <div class="col-12">
                <div>
                    <!-- <label for="nombre">Nombre: &nbsp;<input type="text" name="nombre" id="nombre" style="width: 166px;" value="{{this.nombre}}" formControlName="nombre"> -->
                    <label for="nombre">Nombre: &nbsp;<input type="text" name="nombre" id="nombre" style="width: 166px; " formControlName="nombre">
                </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div style="padding-top: 20px;">
                    <!-- <label for="apellidos">Tiempo: &nbsp;<input type="text" name="apellidos" id="apellidos" value="{{this.apellidos}}" formControlName="apellidos"> -->
                    <label for="tiempo">Tiempo: &nbsp;<input type="number" name="tiempo" id="tiempo" formControlName="tiempo">
                </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div style="padding-top: 20px;">
                    <label for="fecha">Fecha: &nbsp;<input type="date" name="fecha" id="fecha" style="width: 191px;" formControlName="fecha" >
                        <!-- <label for="edad">Fecha: &nbsp;<input type="date" name="edad" id="edad" style="width: 191px;" value="{{this.edad}}" formControlName="edad"> -->
                </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div style="padding-top: 20px;">
                    <label for="ejercicio">Ejercicio: &nbsp; <input list="browsers" name="myBrowser" id="ejericio" style="width: 190px;" />
                    <datalist id="browsers" >
                        <option *ngFor="let item of ejers" data-value="{{item.nombre}}|Ser:{{item.series}}|Reps:{{item.reps}}|RIR:{{item.rir}}|{{item.id}}"></option>
                    </datalist>
                </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div style="text-align: center; margin-top: 5px">
                    <button (click)="modal()" style="margin-left: 100px; background-color: #232a68; color: white; border: none; padding: 8px; font-size: 15px;">
                        Crear
                    </button>&nbsp;&nbsp;
                    <button (click)="mete()" style="background-color: darkgray; color: white; border: none; padding: 30px;padding: 8px; font-size: 15px;">
                        Añadir
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="text-align: -webkit-center; color: #232a68;">
            <h3 style="margin: 10px">Ejercicios</h3>
        </div>
        <div class="row">
            <div class="row" style="text-align: -webkit-center;">
                <table style=" text-align: center; padding: 1em 0.1em; border-radius: 25px; background-color: #232a68;  width: 355px; color: white; margin-top: 10px;">
                    <tr style="background-color: white; color:#232a68;">
                        <td style="width:30%; padding : 4px;     border-radius: 20px;">
                            Ejercicio
                        </td>
                        <td style="width: 15%;     border-radius: 20px;">
                            Series
                        </td>
                        <td style="width: 15%;     border-radius: 20px;">
                            Reps
                        </td>
                        <td style="width: 15%;     border-radius: 20px;">
                            RIR
                        </td>
                        <td style="width: 20% ;     border-radius: 20px;"> Borrar</td>
                    </tr>
                    <tr *ngFor="let ita of eja" style="margin-top: 10px; border-radius: 20px;">
                        <td style="width:30%">
                            {{ita.nombre}}
                        </td>
                        <td>
                            {{ita.series}}
                        </td>
                        <td>
                            {{ita.reps}}
                        </td>
                        <td>
                            {{ita.rir}}
                        </td>
                        <td>
                            <span (click)="borra(ita.id)" class="material-symbols-outlined" style="color: darkgray;     font-size: 30px;">
                                cancel
                                </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div style="position: fixed;
                left: 135px;
                bottom: 80px;
             text-align: center; padding-top: 20px;">
                    <button class="button-40 input-submit" role="button" (click)="crearEntreno()">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>