<div class="main-container">
    <div class="row" style=" position: fixed;  width: 100%; background-color: white; top: 0px;">
        <div class="col-12">
            <div style="text-align: center; padding-top: 1em;">
                <span *ngIf="tipo=='N'" class="material-symbols-outlined" routerLink="../" style="font-size: 40px;color: darkgray; position: fixed; left: 40px; top: 45px;">
                    chevron_left
                </span>
                <span *ngIf="tipo=='ENTRENADOR' || tipo=='CLIENTE'" class="material-symbols-outlined" style="font-size: 40px;color: darkgray; position: fixed; left: 40px; top: 45px;">
                    search
                </span>
                <h1 style="color: #29317F;">SOCIAL</h1>
                <span *ngIf="tipo=='ENTRENADOR' || tipo=='CLIENTE'" routerLink="../create-social" routerLinkActive="router-link-active" class="material-symbols-outlined" style="font-size: 40px;color: darkgray; position: fixed; right: 40px; top: 40px;">
                    add</span>
                <span *ngIf="tipo=='N'" routerLink="../create-social" routerLinkActive="router-link-active" class="material-symbols-outlined" style="font-size: 40px;color: darkgray; position: fixed; right: 40px; top: 45px;">
                        search</span>
            </div>
        </div>
    </div>
    <hr style="position: fixed;
    top: 90px;
    width: 100%;left: 0;">

    <br>
    <br><br><br><br><br><br>

    <div class="row" *ngFor="let item of lista">
        <div class="col-12">
            <table style="text-align: center; width: 100%;">
                <tr>
                    <td colspan="3" style="text-align: left; color: #29317F; font-size: 30px; margin-left: 50px;">&nbsp;&nbsp;&nbsp;{{item.nick}}</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: left; color: darkgray; margin-left: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;{{item.ubicacion}}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <img src="{{item.imagen}}" style="width: 370px;">
                    </td>
                </tr>
                <tr>
                    <td style="width: 15%">
                        <span *ngIf="tipo=='ENTRENADOR' || tipo=='CLIENTE'" class="material-symbols-outlined" style="font-size: 20px;color: darkgray; ">
                            favorite</span>
                    </td>
                    <td style="text-align: left ; color: #29317F;">
                        {{item.likes}} likes
                    </td>
                    <td>
                        <span *ngIf="tipo=='ENTRENADOR' || tipo=='CLIENTE'" routerLink="../chat" class="material-symbols-outlined" style="font-size: 20px;color: darkgray; ">
                            sms</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: left ; color: #29317F;">&nbsp;&nbsp;&nbsp;&nbsp;{{item.titulo}}</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: left ; color: darkgray;">&nbsp;&nbsp;&nbsp;&nbsp;{{item.descripcion}}</td>
                </tr>
            </table>
        </div>
        <br><br><br>
    </div>
    <br>
    <br>
    <br>
    <br>

</div>