<div class="main-container">
    <div class="row">
        <div class="col-12">
            <div style="text-align: center; padding-top: 1em;">
                <h1 style="color: #232a68;">AGENDA</h1>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="row" style="display: flex; justify-content: space-around; vertical-align: middle;">
        <div>
            <span class="material-symbols-outlined" style="font-size: 40px;color: darkgray; margin-right: 40px;">
                chevron_left
                </span>
        </div>
        <div>
            <h2 style="margin: 3px; color: #232a68;" id="mes">{{this.mes}}</h2>
        </div>
        <div>
            <span class="material-symbols-outlined" style="font-size: 40px;color: darkgray; margin-left: 40px;">
                chevron_right
                </span>
        </div>
    </div>
    <br>
    <div class="row" style="display: flex; justify-content: space-around; vertical-align: middle;">
        <div>
            <span class="material-symbols-outlined" style="font-size: 40px;color: darkgray; margin-right: 40px;">
                chevron_left
                </span>
        </div>
        <div>
            <h2 style="margin: 3px; color: #232a68;">{{this.dia}}</h2>
        </div>
        <div>
            <span class="material-symbols-outlined" style="font-size: 40px;color: darkgray; margin-left: 40px;">
                chevron_right
                </span>
        </div>
    </div>
    <hr style="width: 300px;">
    <div class="col-12">
        <div style="text-align: center;">
            <h2 style="color: #232a68;">ENTRENAMIENTO</h2>
        </div>
    </div>
    <div class="row" *ngFor="let item of entreno">
        <div style="text-align: center; padding-top: 20px;">
            <button (click)="ruta(item.id)" routerLinkActive="router-link-active" class="button-40 input-submit" role="button">{{item.nombre}}</button>
        </div>
    </div>
    <hr style="margin-top: 50px ; width: 300px;">
    <div class="col-12">
        <div style="text-align: center;">
            <h2 style="color: #232a68;">COMIDAS</h2>
        </div>
    </div>
    <div class="row" *ngFor="let item of comida">
        <div style="text-align: center; padding-top: 20px;">
            <button routerLinkActive="router-link-active" class="button-40 input-submit" role="button" style="background-color: darkgray ;">{{item.tipo}}</button>
        </div>
    </div>
</div>