<div class="main-container">
    <div class="row">
        <div class="col-12">
            <div style="text-align: center; padding-top: 1em;">
                <h1 style="color: #232a68;">AGENDA</h1>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="row" style="display: flex; justify-content: space-around; vertical-align: middle;">
        <div>
            <span class="material-symbols-outlined" style="font-size: 40px;color: darkgray; margin-right: 40px;">
                chevron_left
                </span>
        </div>
        <div>
            <h2 style="margin: 3px; color: #232a68;" id="mes">{{this.mes}}</h2>
        </div>
        <div>
            <span class="material-symbols-outlined" style="font-size: 40px;color: darkgray; margin-left: 40px;">
                chevron_right
                </span>
        </div>
    </div>
    <br>
    <div class="row" style="display: flex; justify-content: space-around; vertical-align: middle;">
        <div>
            <span class="material-symbols-outlined" style="font-size: 40px;color: darkgray; margin-right: 40px;">
                chevron_left
                </span>
        </div>
        <div>
            <h2 style="margin: 3px; color: #232a68;">{{this.dia}}</h2>
        </div>
        <div>
            <span class="material-symbols-outlined" style="font-size: 40px;color: darkgray; margin-left: 40px;">
                chevron_right
                </span>
        </div>
    </div>
    <br>
    <br>
    <div class="row" style="text-align: center;" id="back" [innerHTML]="this.safe">

        <!-- <div>
            <button class="button-40" role="button">Entrenamiento de cardio</button>
        </div>
        <br>
        <div>
            <button class="button-41" role="button">Desayuno</button>
        </div>
        <br>
        <div>
            <button class="button-40" role="button">Entrenamiento de fuerza</button>
        </div>
        <br>
        <div>
            <button class="button-41" role="button">Comida</button>
        </div>
        <br>
        <div>
            <button class="button-41" role="button">Merienda</button>
        </div>
        <br>
        <div>
            <button class="button-41" role="button">Cena</button>
        </div> -->
    </div>
</div>