.center {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}


/* CSS */

.button-40 {
    background-color: #29317F;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .75rem 2rem;
    text-align: center;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.button-40:hover {
    background-color: #232a68;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #232a68;
    outline: 0;
    font-size: 1rem;
    color: #232a68;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    width: 260px;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #232a68;
}

.form__field:focus {
    padding-bottom: 6px;
    padding-top: 1.2em;
    font-weight: 200;
    border-width: 3px;
    /* border-image: linear-gradient(to right, #11998e, #38ef7d); */
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #232a68;
    font-weight: 700;
}


/* reset input */

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}