<div class="main-container">
    <div class="row" style="margin: 0;">
        <div class="col-12">
            <div class="center h-center">
                <span routerLink="../login" class="material-symbols-outlined" style="font-size: 40px;color: darkgray;margin-left: -83px; margin-top: 13px;">
                        chevron_left
                        </span>
                <img src="../../../assets/images/logos/logos_png_1.png" alt="logo_epic" width="auto" height="200px" style="margin-left: 37px;" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="center h-center" style="color: #232a68; margin: 0;">Registro</h2>
        </div>
    </div>

    <div class="row center">
        <form class="form" id="registerForm" (ngSubmit)="register()" [formGroup]="registerForm">
            <div class="form-group">
                <div class="form__group field">
                    <select class="select-sm form-control" name="rol" class="form__field" name="rol" id='rol' required formControlName="rol">
                        <option value="" disabled selected>Selecciona</option>
                        <option value="ENTRENADOR">Entrenador</option>
                        <option value="CLIENTE">Cliente</option>
                       </select>
                </div>
            </div>
            <div class="form-group">
                <div class="form__group field">
                    <input type="text" class="form__field" placeholder="Nick" name="nick" id='nick' required formControlName="nick" />
                    <label for="nick" class="form__label">Nick</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form__group field">
                    <input type="text" class="form__field" placeholder="Nombre" name="nombre" id='nombre' required formControlName="nombre" />
                    <label for="nombre" class="form__label">Nombre</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form__group field">
                    <input type="text" class="form__field" placeholder="Apellidos" name="apellidos" id='apellidos' required formControlName="apellidos" />
                    <label for="apellidos" class="form__label">Apellidos</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form__group field">
                    <input type="email" class="form__field" placeholder="Email" name="email" id='email' required formControlName="email" />
                    <label for="email" class="form__label">Email</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form__group field">
                    <input type="password" class="form__field" placeholder="password" name="password" id='password' required formControlName="password" />
                    <label for="password" class="form__label">Password</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form__group field">
                    <input type="number" class="form__field" placeholder="Edad" name="edad" id='edad' required formControlName="edad" />
                    <label for="edad" class="form__label">Edad</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form__group field">
                    <input type="number" class="form__field" placeholder="Telefono" name="telefono" id="telefono" required formControlName="telefono" />
                    <label for="telefono" class="form__label">Telefono</label>
                </div>
            </div>
            <br>
            <div class="form-group center">
                <button type="submit" name="submit" class="button-40 input-submit" role="button">Registrarse</button>
            </div>
        </form>
    </div>
</div>